#mbti{
    display: none;
    background-color: whitesmoke;
    text-align: center; /*글자들을 중앙으로*/
    border-radius: 20px; /*테두리부분을 동글하게 만들기*/
    font-size: 200%;
}

div.mymbti_info{
    font-size: 10pt;
}